:root {
  --light-text: #e4d8cc;
  --dark-text: #101010;
  --light-background: #e7dfd8;
  --first-expect: #b99fea;
  --second-expect: #eba789;
  --third-expect: #96dbc6;
  --secondary-text: #c3bab1;
  --white-text: #ffffff;
}

* {
  font-weight: 400;
}

*::selection {
  background-color: var(--secondary-text);
  color: var(--dark-text);
}

*:focus {
  outline: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--light-background);
}

.container {
  width: 1182px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: red 3px dashed; */
}

.header-hero-bg {
  background-image: url(../imgs/header-hero-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 23px 0;
  position: fixed;
  width: 100%;
  transition: background-color 1s;
}

.header:hover {
  background-color: var(--dark-text);
}

.header-container {
  display: flex;
  gap: 253px;
}

.header-list {
  display: flex;
  gap: 32px;
  padding-left: 134px;
}

.header-item {
}

.header-link {
  color: var(--light-text);
  font-size: 11px;
  line-height: 2.18;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: color 0.6s;
}

.header-link:hover,
.header-link:focus {
  color: var(--first-expect);
}

.header-addresses {
  display: flex;
  gap: 32px;
}

.header-address {
}

.hero {
  padding-top: 411px;
  padding-bottom: 116px;
}

.hero-title {
  color: var(--light-text);
  font-size: 57px;
  line-height: 1.06;
  width: 838px;
  margin-bottom: 14px;
}

.hero-desc {
  color: var(--secondary-text);
  font-size: 18px;
  line-height: 1.56;
}

.hero-list {
  display: flex;
  gap: 16px;
  margin-top: 42px;
}

.hero-item {
}

.hero-offer {
  display: block;
  padding: 14px 34px;
  color: var(--white-text);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  background: #7837f3;
  transition: background-color 0.6s;
}

.hero-offer:hover,
.hero-offer:focus {
  background: rgba(120, 55, 243, 0.6);
}

.hero-link {
  display: block;
  padding: 14px 34px;
  color: var(--white-text);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  background: rgba(228, 216, 204, 0.5);
  transition: background-color 0.6s;
}

.hero-link:hover,
.hero-link:focus {
  background: rgba(228, 216, 204, 0.7);
}

.work {
  padding: 75.5px 0;
}

.work-container {
  display: flex;
  justify-content: space-between;
}

.work-text {
}

.work-title {
  color: var(--dark-text);
  font-size: 54px;
  line-height: 1.07;
  margin-bottom: 15px;
  width: 508px;
}

.work-desc {
  color: var(--dark-text);
  font-size: 16px;
  line-height: 1.38;
  width: 452px;
}

.work-img {
  padding-top: 17px;
  width: 539px;
  height: 283px;
  box-sizing: content-box;
}

.expect {
}

.expect-title {
}

.expect-list {
}

.expect-item {
  display: flex;
  gap: 116px;
  width: 1152px;
  height: 725px;
  padding-top: 124px;
}

.expect-item:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 139px;
}

.expect-img {
  border-radius: 12px;
  width: 518px;
  height: 500px;
}

.expect-wrap {
  width: 495px;
  padding-top: 68px;
}

.expect-item:nth-child(1) .expect-wrap {
  padding-top: 91px;
}

.expect-wrapper {
  display: flex;
  gap: 12px;
}

.expect-num {
  color: var(--dark-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  line-height: 0.63;
  width: 74px;
  height: 74px;
}

.expect-item:nth-child(1) .expect-num {
  border-radius: 50%;
  background-color: var(--first-expect);
}
.expect-item:nth-child(2) .expect-num {
  border-radius: 50%;
  background-color: var(--second-expect);
}

.expect-item:nth-child(3) .expect-num {
  border-radius: 50%;
  background-color: var(--third-expect);
}

.expect-header {
  color: var(--dark-text);
  font-size: 19px;
  line-height: 1.89;
  padding-top: 20px;
}

.expect-subtitle {
  width: 491px;
  color: var(--dark-text);
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-top: 18px;
}

.expect-link {
  border-bottom: var(--dark-text) 2px solid;
  display: flex;
  align-items: center;
  width: 95px;
  gap: 12px;
  padding-bottom: 2px;
  margin-top: 11px;
  transition: border-bottom 0.6s;
}

.expect-item:nth-child(1) .expect-link:hover,
.expect-item:nth-child(1) .expect-link:focus {
  border-bottom: var(--first-expect) 2px solid;
}

.expect-item:nth-child(2) .expect-link:hover,
.expect-item:nth-child(2) .expect-link:focus {
  border-bottom: var(--second-expect) 2px solid;
}

.expect-item:nth-child(3) .expect-link:hover,
.expect-item:nth-child(3) .expect-link:focus {
  border-bottom: var(--third-expect) 2px solid;
}

.expect-text {
  color: var(--dark-text);
  font-size: 12px;
  line-height: 2.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.6s;
}

.expect-item:nth-child(1) .expect-link:hover .expect-text,
.expect-item:nth-child(1) .expect-link:focus .expect-text {
  color: var(--first-expect);
}

.expect-item:nth-child(2) .expect-link:hover .expect-text,
.expect-item:nth-child(2) .expect-link:focus .expect-text {
  color: var(--second-expect);
}

.expect-item:nth-child(3) .expect-link:hover .expect-text,
.expect-item:nth-child(3) .expect-link:focus .expect-text {
  color: var(--third-expect);
}

.expect-icon {
  fill: var(--dark-text);
  transition: fill 0.6s;
}

.expect-item:nth-child(1) .expect-link:hover .expect-icon,
.expect-item:nth-child(1) .expect-link:focus .expect-icon {
  fill: var(--first-expect);
}

.expect-item:nth-child(2) .expect-link:hover .expect-icon,
.expect-item:nth-child(2) .expect-link:focus .expect-icon {
  fill: var(--second-expect);
}

.expect-item:nth-child(3) .expect-link:hover .expect-icon,
.expect-item:nth-child(3) .expect-link:focus .expect-icon {
  fill: var(--third-expect);
}

.expect-desc {
  color: var(--dark-text);
  font-size: 14px;
  line-height: 1.58;
  margin-top: 45px;
}

.reviews {
  background-color: var(--white-text);
  padding-top: 117px;
  padding-bottom: 112px;
}

.reviews-title {
}

.reviews-list {
  display: flex;
  justify-content: center;
}

.reviews-item {
  box-sizing: content-box;
}

.reviews-item:first-child {
  width: 489px;
  padding-right: 43px;
}

.reviews-item:nth-child(2) {
  border-left: rgba(228, 216, 204, 0.1) 2px solid;
  padding-left: 84px;
  width: 408px;
}

.reviews-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 37px;
}

.reviews-item:nth-child(1) .reviews-icon {
  fill: var(--second-expect);
  stroke: var(--second-expect);
}

.reviews-item:nth-child(2) .reviews-icon {
  fill: var(--third-expect);
  stroke: var(--third-expect);
}

.reviews-desc {
  color: var(--light-text);
  font-size: 23px;
  line-height: 2.26;
  width: 489px;
  text-align: center;
}

.reviews-item:nth-child(2) .reviews-desc {
  width: 408px;
}

.reviews-wrapper {
  display: flex;
  gap: 29px;
  padding-left: 82px;
  margin-top: 50px;
  align-items: center;
}

.reviews-img {
  border-radius: 50%;
}

.reviews-text {
  color: var(--light-text);
  font-size: 14px;
  line-height: 1.71;
}

.reviews-logo {
  display: block;
  margin: 0 auto;
  margin-top: 68px;
  fill: var(--light-background);
  transition: fill 0.6s;
}

.reviews-logo:hover,
.reviews-logo:focus {
  fill: var(--secondary-text);
}

.questions {
  background-color: var(--dark-text);
  padding-top: 100px;
  padding-bottom: 71px;
}

.questions-container {
  display: flex;
  gap: 120px;
}

.questions-wrap {
  padding-top: 18px;
}

.questions-title {
  color: var(--light-text);
  font-size: 36px;
  line-height: 1.27;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.questions-item {
}

.questions-link {
  color: var(--first-expect);
  font-size: 20px;
  line-height: 1.4;
}

.questions-link:hover,
.questions-link:focus {
  text-decoration-line: underline;
}

.questions-icon {
  fill: none;
  stroke: #d8ccbf;
  display: block;
}

.company {
  background-image: url(../imgs/company-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 139px;
  padding-bottom: 97px;
}

.company-subtitle {
  color: var(--secondary-text);
  font-size: 15px;
  line-height: 1.07;
}

.company-title {
  color: var(--light-background);
  font-size: 48px;
  line-height: 1.13;
  width: 653px;
  margin-top: 19px;
}

.company-link {
  width: 270px;
  display: block;
  color: var(--light-text);
  border-bottom: 1px var(--light-text) solid;
  display: flex;
  gap: 7px;
  align-items: center;
  padding-bottom: 14px;
  margin-top: 24px;
  transition: border-bottom 0.6s;
}

.company-link:hover,
.company-link:focus {
  border-bottom: 1px var(--first-expect) solid;
}

.company-text {
  color: var(--light-text);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.6s;
}

.company-link:hover .company-text,
.company-link:focus .company-text {
  color: var(--first-expect);
}

.company-icon {
  fill: var(--light-text);
  transition: fill 0.6s;
}

.company-link:hover .company-icon,
.company-link:focus .company-icon {
  fill: var(--first-expect);
}

.footer {
  background-color: var(--dark-text);
  padding-top: 79px;
  padding-bottom: 27px;
}

.footer-addresses {
  display: flex;
  gap: 42px;
}

.footer-address {
}

.footer-header {
  color: var(--light-text);
  font-size: 23px;
  line-height: 1.04;
  margin-bottom: 19px;
}

.footer-offer {
  color: var(--white-text);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  background: #7837f3;
  padding: 9px 32px;
  display: block;
  transition: background-color 0.6s;
}

.footer-offer:hover,
.footer-offer:focus {
  background-color: rgba(120, 55, 243, 0.6);
}

.footer-gmail {
  color: var(--light-text);
  font-size: 15px;
  line-height: 1.6;
  padding: 8px 27px;
  border-radius: 100px;
  border: var(--light-text) 1px solid;
  display: block;
  transition: color 0.6s, border 0.6s;
}

.footer-gmail:hover,
.footer-gmail:focus {
  color: var(--first-expect);
  border: var(--first-expect) 1px solid;
}

.footer-wrap {
  display: flex;
  gap: 309px;
}

.footer-lists {
  display: flex;
  gap: 74px;
  margin-top: 86px;
  width: 587px;
}

.footer-items {
}

.footer-subtitle {
  color: var(--light-text);
  font-size: 20px;
  line-height: 0.8;
  margin-bottom: 48px;
  width: max-content;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.footer-item {
}

.footer-link {
  color: var(--light-text);
  font-size: 16px;
  line-height: 0.01;
  transition: color 0.6s;
  width: max-content;
  display: block;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--first-expect);
}

.footer-wrapper {
  padding-top: 131px;
}

.footer-house {
}

.footer-text {
  color: var(--light-text);
  font-size: 14px;
  line-height: 2;
  margin-top: 47px;
}

.footer-basement {
  border-top: 1px solid rgba(228, 216, 204, 0.16);
  padding-top: 28px;
  margin-top: 121px;
  display: flex;
  justify-content: space-between;
}

.footer-medias {
  display: flex;
  gap: 298.5px;
}

.footer-media {
}

.footer-run {
}

.footer-icon {
  fill: var(--light-background);
  transition: fill 0.6s;
}

.footer-icon:hover,
.footer-icon:focus {
  fill: var(--first-expect);
}

.footer-wraper {
  display: flex;
  justify-content: end;
}

.footer-copyright {
  padding-bottom: 9px;
  margin-left: 284px;
  color: var(--light-text);
  font-size: 11px;
  line-height: 1;
  width: 114px;
  text-align: right;
}

.footer-privacy {
  width: 77px;
  text-align: right;
  padding-bottom: 9px;
  color: var(--light-text);
  font-size: 11px;
  line-height: 1;
  transition: color 0.6s;
}

.footer-privacy:hover,
.footer-privacy:focus {
  color: var(--first-expect);
  text-decoration-line: underline;
}
